.logo {
    height: 100px;
    width: 150px;
}
.btn1 {
    background-color: #DDE71B;
}
.row img{
    position: absolute;
}
#formcontent {
    background-color: white;
     border-radius: 10px;
}
#formlogo span{
    background-color:#DDE71B;
}
.custom-select {
    text-decoration: none;
}
#sel1,#sel2,#sel3{
    -webkit-appearance: none;
}
.color {
    background-color: #08AFF7;
}
.font i{
    padding:5px 5px 10px 0;
    font-size: 40px;
}
.cd {
    height: auto;
    display: flex;
}